/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-Background:#ffffff;
	--color-FooterBackground:#fafafa;
	--color-Text-Block:#072b45;
	--Color-FocusState:#0077cd;
	--color-ButtonBackground:#0e578c;
	--color-Borders:#006fc9;
	--color-Accent:#e37222;
	
}

/* font = UniversalSansTextRegular */


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

body{
	background-color: var(--color-Background);
	color: var(--color-Text-Block);
	font-family: UniversalSansTextRegular;
}

section:first-of-type{
	color: var(--color-FooterBackground);
	background-color: var(--color-Text-Block);
}